.about__container,
.info__list,
.resume__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: flex-start;
}

.info__list {
    row-gap: 20px;
    margin-bottom: 32px;
}

.section__subtitle {
    font-size: var(--h3-font-size);
    font-weight: var(--weight-600);
    margin-bottom: 20px;
}

.info__list .info__title,
.info__list .info__description {
    font-size: var(--small-font-size);
}

.info__list .info__description {
    color: var(--title-color);
    font-weight: var(--weight-600);
}

.stats__box {
    border: 1px solid var(--border-color);
    padding: 20px 30px 25px;
    border-radius: 5px;
}

.stats__title {
    color: var(--first-color);
    line-height: 1.5;
    font-size: var(--h3-font-size);
    padding: 0 20px;
}

.stats__description {
    font-size: var(--small-font-size);
    line-height: 1.6;
    padding: 20px;
    position: relative;
}

.separator {
    border-top: 1px solid var(--border-color);
    max-width: 40%;
    margin: 72px auto 56px;
}

.subtitle__center {
    text-align: center;
    margin-bottom: 50px;
}

.skills__container {
    grid-template-columns: repeat(4, 1fr);
    justify-content: center;
    row-gap: 36px;
}

.skills__title {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    font-weight: var(--weight-400);
    text-align: center;
}

.skills__box {
    border: 1px solid var(--border-color);
    margin: 10px;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.resume__item {
    position: relative;
    padding-left: 60px;
}

.resume__item::not(:last-child) {
    margin-bottom: 50px;
}

.resume__item::before {
    content: '';
    position: absolute;
    inset-block: 0;
    left: 20px;
    border-left: 1px solid var(--border-color);
}

.resume__icon {
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--first-color);
    color: var(--text-white);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
}

.resume__date {
    background-color: var(--container-color);
    padding: 2px 10px;
    border-radius: 20px;
    font-size: var(--tiny-font-size);
    font-weight: var(--weight-600);
}

.resume__subtitle {
    font-size: var(--large-font-size);
    font-weight: var(--weight-500);
    margin-block: 20px 10px;
}

.resume__name {
    font-size: var(--small-font-size);
    font-weight: var(--weight-500);
    margin-block: 10px;
}

@media screen and (max-width: 1200px) {

    .stats__title {
        padding-left: 35px;
    }

    .stats__title::before {
        width: 22px;
    }

    .skills__container {
        row-gap: 32px;
    }

    .resume__icon {
        width: 36px;
        height: 36px;
        line-height: 38px;
    }

    .resume__item {
        padding-left: 55px;
    }
}

@media screen and (max-width: 1024px) {

    .about__container {
        grid-template-columns: 1fr;
        row-gap: 40px;
    }

    .subtitle__center {
        margin-bottom: 45px;
    }

    .skills__container {
        grid-template-columns: repeat(3, 1fr);
    }

    .resume__container {
        grid-template-columns: 1fr;
        row-gap: 45px;
    }

    .separator {
        margin: 65px auto 50px;
    }

    .resume__item:not(:last-child) {
        margin-bottom: 45px;
    }
}

@media screen and (max-width: 576px) {

    .skills__container {
        grid-template-columns: repeat(2, 1fr);
    }

}